/* app.overlay */

/ {
    /* 1. 定义一个 leds 节点 */
    leds {
        compatible = "gpio-leds";

        /* Board Blue LED */
        board_blue_led: blue_led_pb2 {
            /* 关联到 GPIOB 端口，引脚号为 2
             * GPIO_ACTIVE_LOW 告诉系统这个引脚拉低才会亮
             */
            gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
            label = "Board Blue LED";
        };

        /* Board Red LED */
        board_red_led: blue_red_pc5 {
            /* 关联到 GPIOC 端口，引脚号为 5
             * GPIO_ACTIVE_LOW 告诉系统这个引脚拉低才会亮
             */
            gpios = <&gpioc 5 GPIO_ACTIVE_LOW>;
            label = "Board Red LED";
        };
    };

    /* 3. 设置别名 (极度重要！)
     * Zephyr 官方的 Blink 示例都会去寻找 "led0" 这个别名。
     * 把刚才定义的 board_blue_led 绑定到 "led0" 上。
     */
    aliases {
        led0 = &board_blue_led;
        led1 = &board_red_led;
    };
};

/* 开启并配置 SPI1 总线 */
&spi1 {
    status = "okay";

    /* 绑定 F407 的默认 SPI1 引脚：PA5(SCK), PA6(MISO), PA7(MOSI) */
    pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
    pinctrl-names = "default";

    /* 配置片选引脚 CS 为 PC13 (注意：CS 是挂在 SPI 总线上的，而不是挂在子设备上) */
    cs-gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;

    /* 定义挂载在 SPI1 上的 W25Q128 */
    w25q128: flash@0 {
        /* 使用 Zephyr 原生的通用 JEDEC SPI NOR 驱动 */
        compatible = "jedec,spi-nor";

        /* 这里的 0 代表它使用 cs-gpios 数组里的第 0 个引脚 (即 PC13) */
        reg = <0>;

        /* SPI 通信频率：这里设为 80MHz 以内均可，先用 10MHz 求稳 */
        spi-max-frequency = <10000000>;

        /* W25Q128 容量为 128 Megabits (注意单位是 bits: 128 * 1024 * 1024) */
        size = <134217728>;

        /* 制造商和设备 ID (Winbond W25Q128 通常是 ef 40 18) 
         * 驱动会读取真实硬件 ID 和这个对比，如果对不上会报错，防止你接错线 
         */
        jedec-id = [ef 40 18];
    };
};