mainmenu "nrf52833DK project Configuration"

# Hardware package configurations
rsource "hardware/package_led/Kconfig"

# Application module configurations

# include the default Zephyr configuration (required)
source "Kconfig.zephyr"
