mainmenu "nrf52833DK project Configuration"

# Hardware package configurations
rsource "hardware/package_led/Kconfig"
rsource "hardware/package_key/Kconfig"

# Application module configurations
rsource "app/package_led_ctrl/Kconfig"
rsource "app/package_ble_adv_demo/Kconfig"
rsource "app/package_adv_conn_demo/Kconfig"
rsource "app/package_ble_scan_conn_demo/Kconfig"
rsource "app/package_mcu_transport/Kconfig"
rsource "app/package_sem/Kconfig"
rsource "app/package_kmsq/Kconfig"
rsource "app/package_kmutex/Kconfig"
rsource "app/package_gatt_server_demo/Kconfig"

# BLE OTA production packages
rsource "app/package_ble_core/Kconfig"
rsource "app/package_ble_adv/Kconfig"
rsource "app/package_ble_conn/Kconfig"
rsource "app/package_ble_gatt_service/Kconfig"
rsource "app/package_ble_gatt_ota_service/Kconfig"
rsource "app/package_ble_gatt_client/Kconfig"
rsource "app/package_ble_led_ctrl_service/Kconfig"

# include the default Zephyr configuration (required)
source "Kconfig.zephyr"
